
    body {
        background-color: #444444;
    }
                
    .col-lg {
        height: 700px;
        background-color: #d8d8d8;
        width: 100%;
        border-top-left-radius: 20px;
    }
                
    .header {
        background-color: #444444;
        margin: 0 auto;
        width: 100%;
    }
      
    .col-sm-2.sidenav{
        margin-top: 60px; 
        background-color: #f9efff;
        color: Black;
    }            
    .col-sm-2{
        background-color: #444444;
        color: Black;
    }
    .col-sm-6{
        background-color: #FFFFFF;
    }
    .col-sm-7{
        margin-top: 150px; 
        background-color: #FFFFFF;
    }           
                
    .nav-link {
        color: white;
    }
    
    .nav-item{
        color: white;
    }
                
    .nav-item:hover {
        background-color: grey;
    }


    .navbar {
        overflow: hidden;
        background-color: #333;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        z-index: 2;
        margin: 0 auto;
        font-family: 'Font Awesome 5 Free';
        text-align: center;
    }
    .navbar-brand{
        padding: 3px 28px 3px 2px;
    }

    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #cecece;
      height: 100%;
    }
    
    
    
    .row.content{
        height: 3000px;
    }
    
    .form-group{
        margin-top: 40px;
    }

body {
    background-color: #444444;
}
            
.col-lg {
    height: 700px;
    background-color: #d8d8d8;
    width: 100%;
    border-top-left-radius: 20px;
}
            
.header {
    background-color: #444444;
    margin: 0 auto;
    width: 100%;
}

.col-sm-8 {
    background-color: #FFFFFF;
    min-height: 550px;
}
            
.nav-link {
    color: white;
}
            
.nav-item:hover {
    background-color: grey;
}

.navbar {
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 2;
    margin: 0 auto;
}


.navbar-brand {
    padding: 3px 25px 3px 2px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
            height: 3000px;
}

.row.content {
    min-height: 3000px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.chartBox {
    max-width: 200px;
    max-height: 200px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height:auto;
    }
}